{% extends "encyclopedia/layout.html" %}

<style>
      
    textarea {
        padding: 10%;
        border-color: black;
        border-width: thin;
        height: 400px;
        width: 600px;
    }

    h1 {
        padding-top: 45px;
        padding-bottom: 20px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .quoten {
        color: gray;
    }

    div.Robert {
        border-style: outset;
        border-color: black;
        border-width: thin;
    }
    
</style>
{% block title %}
CTang.Wiki - Create Article
{% endblock %}
</head>
<body>
    {% block body %}
    
    <h1>Create an article</h1>
    <br>
    <hr>
    <div class="Robert">
    <p>Subheading: ### text</p>
    <p><a>Link</a>: [text](/nameofpage)</p>
    <p><b>Bold Text</b>&nbsp;: **text** or __text__</p>
    <p><i>Italic Text</i>&nbsp;: *text* or _text_</p>
    <p><i><b>Bold & Italic Text</b></i>&nbsp;: ***text*** or ___text___</p>
    <p><sup>Superscripted Text</sup>&nbsp;: &lt;sup>text&lt;/sup></p>
    <p><sub>Subscripted Text</sub>&nbsp;: &lt;sub>text&lt;/sub></p>
    </div>
    <form method="post" action="{% url 'add' %}">
    <h6>Title: {{post.name}}</h6>
    {% csrf_token %}
        {{post.textarea}}
    <p><button type="submit">Create</button></p>
    </form>
    {% if rob == True %}
    <p><b>Page already exists</b></p>
    {% endif %}
    <!-- <p class="quoten"><blockquote>> Quoted Text</blockquote></p><p>&nbsp;: > text</p>
    <div class="flex-box">
    <form method="post" action="{% url 'add' %}">
    </form>
    </div> -->
<br>
<br>
    {% endblock %}
</body>